* text=auto eol=lf
*.jpg binary
*.jpeg binary
*.png binary
*.jar binary
*.zip binary

# GitHub Linguist language statistics
*.sql linguist-language=SQL linguist-detectable
scripts/*.ps1 linguist-vendored
